html {
    font-family: 'Press Start 2P';
    font-size: 32px;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #000000 0%, #e22525 51%, #000000 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: .5s;
    cursor: pointer;
  }
  #button:hover {
    background-position: right center;
}

#display,
#counter {
    height: 32px;
}